html{
    margin-top: 0px;
    margin-left: 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 375px;
    padding: 10px;
    padding-right: 20px;
    background-color: #FFFFFF;
    z-index: 1;
}
.logo{
    width: 35px;
    height: 25px;
}
.links{
    display: inline-block;
}
#menu{
    display:none;
}
#menu a{
    text-decoration: none;
    padding: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    
}
.bar-1, .bar-2, .bar-3{
    width: 30px;
    height: 4px;
    background: black;
    margin: 6px auto;
}
.change .bar-1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}
.change .bar-2 {
    visibility: hidden;
}
.change .bar-3 {
    transform: rotate(45deg) translate(-8px, -8px);
}
.show {
    display: block;
    flex-direction: column;
    justify-content: space-between;
    background-color: #172B4D;
}
body{
    width: 375px;
    background-color: white;
}
.phase-1{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-bottom: 40px;
    background-color: #FFFFFF;
    width: 370px;
    padding-right: 22px;
}
.heading{
    font-family: 'inter';
    align-items: flex-start;
    font-weight: 800;
    width: 200px;
}
.paragraph{
    font-weight: 400;
    width:285px ;
    line-height: 24px;
}
.phase-1 button{
    width: 120px;
    padding: 10px;
    background-color:  hsl(5, 85%, 63%);
    color: #FFFFFF;
    font-size: 17px;
    border: none;
    font-weight: 600;
}
.phase-2{
    padding: 24px;
    background-color: #FFFFFF;
    color: #FFFFFF;
}
.details{
    background-color: hsl(240, 100%, 5%);
    padding: 12px;
}
.phase-2 h1{
    color: hsl(35, 77%, 62%);
}
.phase-2 p{
    color: rgb(108, 104, 104);
}
.phase-3{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 24px;
    background-color: #FFFFFF;
    width: 375px;
}
.card{
    display: flex;
    margin-left: 24px;
    gap: 12px;
}
.card img{
    width: 100px;
}
.text span{
    font-size: 30px;
    opacity: 0.5;
}
.text p{
    opacity: 0.7;
}